.container {
    display: grid;
    /* grid-template-columns: auto auto auto; */
    /* grid-template-columns: 3fr 2fr 1fr; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-columns: 25% 50% 25%; */
    /* grid-template-columns: 100px auto auto; */
    grid-template-areas: 
        "header header header"
        "menu main right"
        "menu footer footer";
    grid-template-rows: auto auto auto;
}

.gridItem {
    border: 10px solid #2096F3;
    background-color: #D7EAFD;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    /* grid-column: 1 / span 3; */
    grid-area: header;
}

.menu {
    /* grid-row: 2 / span 2; */
    grid-area: menu;
}

.main {
    /* grid-column: 2 / span 2; */
    grid-area: main;
}

.right {
    /* grid-column: 3 / span 1; */
    grid-area: right;
}

.footer {
    /* grid-column: 2 / span 2; */
    grid-area: footer;
} 

