/* the styles above 992px */

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#welcomeHeader {
    /* padding: 10px; */
    /* padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px; */
    /* padding: top&bottom left&right */
    /* padding: 10px 20px; */
    /* padding: top right bottom left */
    /* padding: 10px 20px 10px 20px; */
    /* padding: top right&left bottom */
    /* padding: 10px 20px 10px; */
    /* border: 5px solid black; */
    /* margin: 20px; */
    /* margin-top: 20px; */
    /* margin: 20px 10px; */
    /* margin: 20px 10px 30px; */
    /* margin: 20px 10px 30px 40px; */

    /* border-style:ridge;
    border-width: 15px;
    border-color: green; */
}

/* #about {
    width: 50%;
    border: 5px solid black;
    padding: 10px;
    margin: 30px;
} */

.menu {
    list-style-type: none;
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    padding: 0;
    flex-direction: row;
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; // horizonatally align items to the center */ 
    /* justify-content: space-around; */
    justify-content: flex-end;
    /* align-items: center; // vertically align items to the center */
}

.menu li a {
    text-decoration: none;
}

.menu li {
    margin: 0 10px;
    border: 1px solid lightgrey;
    padding: 5px 10px;
}

.menu li:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.home {
    order: 1;
}

.about {
    order: 3;
}

.courses {
    order: 2;
}

.contact {
    order: 4;
}

.container {
    display: flex;
    flex-direction: column;
}

.navSection {
    order: 1;
}

.headerSection {
    order: 2;
}

.coursesSection {
    order: 5;
}

.placementsSection {
    order: 4;
}

.blogsSection {
    order: 6;
}

.feedbackSection {
    order: 3;
}

.footerSection {
    order: 7;
}

* {
    font-family: 'Kode Mono';
}

.navSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuIcon {
    display: none;
}

/* media query */
/* the styles upto 991px */
@media (max-width: 991px){
    /* hide the nav bar */
    .menu {
        display: none;
    }

    /* show the menu icon */
    .menuIcon {
        display: block;
    }
}