html {
    font-size: 24px;
}

button {
    border: none;
    padding: 10px 50px;
    margin: 8px 20px;
    display: block;
    background-color: green;
    color: white;
    font-size: 16px;
}

.button1 {
    width: 300px;
    /* display: none; */
}

.button2 {
    /* 
    
        px - pixels
        px is a fixed unit of measurement
        px is the most common unit of measurement
        1 px = 1/96th of 1 inch

        300px = ? inches

        300px = 300/96 inches = 3.125 inches

        measurement unit: pt - points

        1 pt = 1/72 of 1 inch
        1 pt = 1.3333 px

        300px = ? pt
        300px = 300/1.3333 pt = 225 pt

        measurement unit: cm - centimeters

        1 inch = 2.54 cm
        1 cm = 0.3937 inches
        1 pt = 0.0353 cm

        300px = ? cm
        300px = 300/96 inches = 3.125 inches
        3.125 inches = 3.125 * 2.54 cm = 7.9375 cm

        measurement units:

        - px (pixels)
        - pt (points)
        - cm (centimeters)
        - mm (millimeters)
        - in (inches)

        Relative units of measurement:

        - em - relative to the font-size of the element

        1em = 16px
        300px = 300/16 em = 18.75em

        - rem - relative to the font-size of the root element (example: <html>)
        - % - relative to the parent element



    */
    /* width: 3.125in; */
    /* width: 225pt; */
    /* width: 7.9375cm; */

    /* width: 50%; */
    /* width: 18.75em; */
    width: 18.75rem;
}

.button3 {
    display: none;
}