/* mobile first */
/* the styles are applied to the entire application for the mobile view */

.menuList {
    display: none;
}

.menuIcon {
    font-size: 32px;
}

* {
    padding: 0;
    margin: 0;
}

.menuIcon {
    margin: 10px;
}

.menuIcon:hover {
    cursor: pointer;
}

/* Styles for the IPad View */
@media (min-width: 768px) and (max-width: 1023px) {
    .menuList {
            display: block;
        }
    
        .menuIcon {
            display: none;
        }
    
        .menuList {
            display: flex;
            /* justify-content: space-around; */
            justify-content: flex-end;
            align-items: center;
            margin-top: 20px;
            margin-left: 20px;
        }
    
        .menuList li {
            list-style: none;
            margin: 0 2px;
            padding: 10px 20px;
        }
    
        .menuList a {
            text-decoration: none;
            color: black;
        }
    
        .menuList li .subMenuList {
            display: none;
            background-color: white;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            position: absolute;
        }
    
        .subMenuList {
            margin-top: 10px;
        }
    
        .menuList li:hover {
            background-color: cadetblue;
        }
    
        /* sub menus */
        .menuList li {
            display: inline-block;
            position: relative;
        }
    
        .menuList li:hover .subMenuList {
            display: block;
        }
    
        .subMenuList li {
            padding: 10px 20px;
            display: block;
        }
}

/* Styles for the Desktop View */
@media (min-width: 1024px) {
    .menuList {
        display: block;
    }
    .menuIcon {
        display: none;
    }

    .menuList {
        display: flex;
        /* justify-content: space-around; */
        justify-content: flex-end;
        align-items: center;
        margin-top: 20px;
        margin-left: 20px;
    }

    .menuList li {
        list-style: none;
        margin: 0 2px;
        padding: 10px 20px;
    }

    .menuList a {
        text-decoration: none;
        color: black;
    }

    .menuList li .subMenuList {
        display: none;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        position: absolute;
    }

    .subMenuList {
        margin-top: 10px;
    }

    .menuList li:hover {
        background-color: cadetblue;
    }

    /* sub menus */
    .menuList li {
        display: inline-block;
        position: relative;
    }

    .menuList li:hover .subMenuList {
        display: block;
    }

    .subMenuList li {
        padding: 10px 20px;
        display: block;
    }
}