.container {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    background-color: cadetblue;
    height: 500px;
    width: 100%;
}

.child {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 25%;
}

.child1 {
    background: lightcoral;
}

.child2 {
    background: lightgreen;
}

.child3 {
    background: lightblue;
}

.child1 {
    position: absolute;
    top: 200px;
    left: 50px;
}